* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  display: block;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  background-color: lightblue;
  background-image: url(/images/tweed_@2X.png);
}
nav {
  position: fixed;
  top: 0;
  border-color: rgba(255,255,255,.3);
  background-color: transparent;
  min-height: 50px;
  border: 1px solid transparent;
  z-index: 1030;
}
nav img{
  height: 50px;
  width: 100px
}
header {
  width: 100% !important;
  color: black;
  background-color: lightblue;
  background-size: cover;
  background-image: url(/images/header.jpg);
  background-position: center;
  height: -webkit-fill-available;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 5em;
}

header div {


}
section {
  padding: 100px 0;
}

#services-list{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: stretch;
  /* grid-template-rows: 50px 50px 50px 50px; */
}
