* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
  display: block;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  background-color: #3BBBCF;
}

header {
  width: 100% !important;
  color: black;
  background-size: cover;
  background-image: url(/images/header.jpg);
  background-position: center;
  height: -webkit-fill-available;
}

form {
  margin: 60px;
}

.nav {
  background-color: transparent !important;
}

.logo{
  height: 40px;
  width: 80px
}

.box {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* padding-top: 5em; */
}
.buttons{
  display: flex;
  justify-content: space-between;
}
#landing1{
  height: 960px;
}

#about{
  background-color: lightblue;
  height: 30%;
}
#services{
  height: 70%;
}
#services-list{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: stretch;
  /* grid-template-rows: 50px 50px 50px 50px; */
}

#landing2{
  height: 960px;
}
#portfolio{
  background-color: lightblue;
  height: 80%;
}
#contact{
  height: 20%;
}
