* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
  display: block;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  background-color: white;
}

header {
  width: 100% !important;
  color: black;
  background-size: cover;
  background-image: url(/images/header.jpg);
  background-position: center;
  height: stretch;

}

form {
  margin: 60px;
}


.nav {
  background-color: transparent !important;
}

.logo{
  height: 40px;
  width: 80px
}

.box {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.buttons{
  display: flex;
  justify-content: space-between;
}

.grid-list{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: stretch;
  grid-gap: 1em;
  /* grid-template-rows: 50px 50px 50px 50px; */
}

.clients{
  border: 1px solid;
}

#scroll-container  {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

#about{
  background-size: cover;
  background-image: url(/images/about.jpg);
  height: auto;
  height: 70vh;
}

#services{
  height: auto;
}

#special{
  height: 50vh;
  background-image: url(/images/landing2.jpg);
}

#fade{
  height: 30vh;
  background-color: rgb(69, 65, 89, .2);
  margin: 1em;
}

#feedback{
  background-image: url(/images/feedback.jpg);
  height: 70vh;
}
#contact{
  height: 25vh;
  background-color: rgb(125, 119, 119, .2);
}
